body {
	background-color: lavender;
}

#game-board-container {
	position: relative;
	width: 500px;
	height: 500px;
	background-color: lightsteelblue;
}

#row-container {
	background-color: khaki;
	width: 85%;
	height: 90%; 
	/* center horizontally */
  	margin: auto 7.5%;
	/* center vertically */		
	position: absolute;
   top: 50%;
  	transform: translateY(-50%);
}

.one-row {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.guess {
	background-color: lightblue;
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 170px;
	height: 50px;
}

/* The CSS for the available guess colors will 
be generated via jQuery during the game */
#guess1-1 {
	background-color: white;
	border: 1px solid black;
}

#guess1-2 {
	background-color: white;
	border: 1px solid black;
}

#guess1-3 {
	background-color: white;
	border: 1px solid black;
}

#guess1-4 {
	background-color: white;
	border: 1px solid black;
}

.response {
	background-color: pink;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
	width: 50px;
	height: 50px;
}

.response-pegs {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 18px;
	height: 18px;
	border-radius: 9px;
}

/* The CSS for the response colors will 
be generated via jQuery during the game */
#response1 {
	background-color: red;
}

#response2 {
	background-color: blue;
}

#response3 {
	background-color: green;
}

#response4 {
	background-color: orange;
}


#color-container {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	margin: 10px 65px;
	width: 170px;
	height: 50px;
	background-color: khaki;
}

.color-pegs {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 30px;
	height: 30px;
	border-radius: 15px;
}

/* The CSS for the available game colors will 
be generated via jQuery at the start of the game */
#color1 {
	background-color: red;
}

#color2 {
	background-color: blue;
}

#color3 {
	background-color: green;
}

#color4 {
	background-color: orange;
}