body {
	background-color: #dbceb0;
}

.button {
	background-color: #838060
	border-color: #838060;
}

.button:active {
	background-color: #7e4a35;
	border-color: #cab577;
}

.button:hover {
	background-color: #838060
}

/*.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #838060 !important;
}*/

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus {
    background-color: #838060;
    border-color: #838060;
}

.btn-primary:focus, .btn-primary.focus {
  box-shadow: 0 0 0 3px #cab577;
}


#overall-container {
	background-color: none;
	width: 800px;
	height: 825px;
	/*position: relative;*/
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

#game-board-container {
	width:500px;
	height: 800px;
}

#scoreboard-container {
	background-color: none;
	width: 150px;
	height: 200px;
  	display: flex;
  	flex-direction: column;
	justify-content: space-evenly;
	align-items: left;
	flex-wrap: wrap;
}

#background-container {
	background-color: #7e4a35;
	width: 500px;
	height: 650px; 
  	display: flex;
	justify-content: space-around;
	align-items: center;
	/*flex-wrap: wrap;*/
}

#color-container, #code-container {
	background-color: none;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	margin: 10px 182px;
	width: 188px;
	height: 50px;
}



#row-container {
	/*background-color: orange;*/
	width: 500px;
	height: 650px; 
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
}

.row-number {
	background-color: #838060;
	width: 50px;
	height: 50px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	border-radius: 50%;
}

.one-row {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 90%;
}

.guess {
	background-color: none;
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 170px;
	height: 50px;
}

.current-peg {
   box-shadow: inset 0px 0px 0px 5px #838060;
   box-sizing: border-box;
}

.guess-pegs {
	background-color: #cab577;
	/*border: 1px solid black;*/
}

.response {
	background-color: none;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
	width: 50px;
	height: 50px;
}

.response-pegs {
	background-color: #cab577;
	display: flex;
	justify-content: space-around;
	align-items: center;
	/*border: 1px solid black;*/
	width: 18px;
	height: 18px;
	border-radius: 50%;
}
	
.color-pegs {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 30px;
	height: 30px;
	border-radius: 50%;
}

@keyframes blinker {  
  50% { opacity: 0; }
}

.blink {
  animation: blinker 0.5s linear infinite;
}


